@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

html {
  /*min-height: 100%;
  position: relative;*/
}

body {
  background-color: #fff;
  font-family: "Segoe UI Light", "Open Sans Light", Arial, sans-serif;
  /*height: 100%;*/
  overflow-x: hidden;
  /*padding-top: 80px;*/
  padding-top: 125px;
}

.section-margins {
  margin-top: 100px;
}

.separator {
  position: relative;
  margin: 40px 0 40px 0;
}

.separator hr {
  border-color: #ccc;
  width: 100%;
  position: absolute;
  top: -22px;
  left: 0;
  height: 2px;
}

.separator span {
  padding: 0 5px;
  background-color: #fff;
  position: relative;
  top: -15px;
  z-index: 2;
  margin-left: 50px;
}

address {
  color: #BF8F02;
}

/*-- Columns & rows --*/
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-no-gutter {
  padding-right: 0;
  padding-left: 0;
}

/* -- Main menu -- */
#navbar {
  background: url(../images/old-detroit-background.jpg) #fff no-repeat;
  background-size: cover;
}

#navbar .container-fluid {
  width: 40%;
  padding: 0;
}

.navbar-default,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
    background-color: #fff;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: none;
}

.navbar-nav {
  margin: 0 !important;
  background-color: #fff;
  height: 100%;
  min-height: 100%;
  padding-bottom: 25%;
}

.navbar-default .navbar-nav>li {
  margin: 10%;
  font-size: 350%;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus {
  color: #404040;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li.active,
.navbar-default .navbar-nav>li.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: #BF8F02;
  background-color: #fff;
}

.navbar-default .navbar-nav>li.active>a {
  background-color: #fff;
}

.navbar-toggle {
  display: block;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
	top: 2px;
}

.navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg);
}

.navbar-nav>li.active>a {
  color: #BF8F02;
}

/* -- nav -- */
.navbar-brand {
  padding: 25px 50px 100px 50px;
}

.navbar-header button {
  margin-top: 40px;
}




/* -- Splash -- */
.section-heading {
  background-color: #ccc;
  padding: 2px 50px;
  font-size: 1.1em;
  color: #000;
  display: inline;
}

.section-heading:hover {
  text-decoration: none;
  cursor: default;
  color: #000;
}

.splash-headlines .col-sm-padding {
  padding-top: 0;
}

.splash-our-work .col-md-padding {
  padding-top: 100px;
}

/*-- Warmup squares --*/
.warmup-container {
    position: relative;
}

.warmup-square {
  width: 278px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 1.6em;
  margin: 5px;
  overflow: hidden;
}

.warmup-square-img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  transition: all 1s ease;
}

.is-loaded .warmup-square-img {
  top: 0 !important;
}

.is-loaded .splash-square-img {
  top: 0 !important;
}

.warmup-square:hover .warmup-square-img {
  -webkit-filter: grayscale(0%) !important;
  -moz-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
}

.warmup-square-active .warmup-square-img,
.warmup-square:focus .warmup-square-img,
.warmup-square:active .warmup-square-img {
  -webkit-filter: grayscale(0%) !important;
  -moz-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
}

.warmup-square-back {
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0,0,0,0.4);
  color: #fff;
  width: 278px;
  padding: 6% 25px;
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s linear;
}

.warmup-square:hover .warmup-square-back {
  opacity: 1;
}

.splash-square {
  background-color: #666;
  position: relative;
  overflow: hidden;
  height: 278px;
}

.splash-square-img {
  position: absolute;
  left: 0;
  top: 285px;
  height: 278px;
  overflow: hidden;
}

.splash-square-back {
  width: 100%;
  padding: 15% 25px;
}

.splash-square:hover {
  cursor: pointer;
}

.splash-square:hover .splash-square-img {
  -webkit-filter: grayscale(50%) !important;
  -moz-filter: grayscale(50%) !important;
  filter: grayscale(50%) !important;
}

.splash-square a.router-link {
  margin-right: 10px;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.splash-square a.router-link:hover {
  text-decoration: none;
}

.splash-headlines .col-md-padding {
  padding-top: 100px;
}

/* -- Interior pages -- */
.interior-heading {
  font-style: italic;
  font-weight: normal;
  font-size: 1.6em;
  margin-bottom: 35px;
}

.xl-text {
  font-size: 2.8em;
  margin: 25px 0;
}

.lg-text {
  font-size: 2em;
  margin: 25px 0;
}

.md-text {
  font-size: 1.5em;
  margin: 25px 0;
}

.col-lg-padding {
  padding: 200px 50px 0 50px;
}

.col-md-padding {
  padding: 150px 50px 70px 50px;
  /*padding: 100px 25px 25px 25px;*/
}

.col-sm-padding {
  padding: 75px 50px 0 50px;
  /*padding: 50px 25px 25px 25px;*/
}

/*-- Portfolio & Headlines --*/

.gallery-description {
  float: left;
  width: 50%;
  font-size: 1.3vw;
  font-style: italic;
  color: #666;
  padding-left: 25px;
}

.portfolio .gallery-description {
  padding-top: 35px;
}

.gallery-description h3 {
  font-style: normal;
  font-weight: bold;
  color: #333;
  font-size: 1.5vw;
}

.gallery-item {
  -webkit-box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.36);
  -moz-box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.36);
  box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.36);
  border: 1px solid #ccc;
  float: left;
  margin: 0 0 25px 0;
}

/*-- Page background images --*/
.love-this-thing-content {
  background: url(../images/love-this-thing-page.png) no-repeat;
  min-height: 750px;
}

.state-of-mi-content {
  background: url(../images/our-work-state-of-mi.jpg) no-repeat;
  min-height: 750px;
}

.what-we-do {
  background: url(../images/Page-Divide-Detroit-BW.jpg) no-repeat right;
  background-size: cover;
  color: #fff;
}

.about-us-lute {
  background: url(../images/Page-Divide-Lute-BW1920.jpg) no-repeat right #000;
  color: #fff;
  background-size: cover;
  height: 675px;
}

.about-us-constellation {
  background: url(../images/Page-Divide-Constellation-BW1920.jpg) no-repeat right #000;
  color: #fff;
  background-size: cover;
  height: 675px;
}

.state-of-mi-bg {
  background: url(../images/Slide_01_no_text.jpg) no-repeat right;
  color: #fff;
  background-size: cover;
}

.state-of-mi-adaptive {
  background: url(../images/Slide_02_no_text.jpg) no-repeat top right;
  background-size: cover;
  padding-bottom: 300px;
}

.state-of-mi-mobile-first {
  background: url(../images/Slide_04small.jpg) no-repeat right;
  background-size: auto;
}

.state-of-mi-responsive {
  background: url(../images/Slide_03Small.jpg) no-repeat right;
  background-size: cover;
}

/** -- Overrides homepage styles for interior pages -- **/
#about-us .about-us-lute,
#about-us .about-us-constellation,
#state-of-mi .state-of-mi-mobile-first,
#state-of-mi .state-of-mi-responsive {
  background-color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  height: auto;
}

#about-us .about-us-lute .container-fluid .col-md-5,
#about-us .about-us-constellation .col-md-5,
#state-of-mi .state-of-mi-mobile-first .col-md-5,
#state-of-mi .state-of-mi-responsive .col-md-5 {
  background-color: #fff;
  width: 45%;
  color: #000;
}

#state-of-mi .state-of-mi-mobile-first .col-md-5,
#state-of-mi .state-of-mi-responsive .col-md-5 {
  padding-bottom: 125px;
}

#state-of-mi .separator {
  margin: 0;
}

.interior-page .separator {
  display: none;
}

.contact-us {
  background: url(../images/contact-us-background.jpg) no-repeat right top;
  background-size: 55%;
}

#success_message {
  display: none;
}

.headlines-background {
  background: url(../images/headlines-background.jpg) no-repeat right top;
  background-size: 55%;
}

.state-of-mi-background {
  background: url(../images/Realistic-Retina-Macbook-Pro-Mockup.jpg) no-repeat right top;
  background-size: 55%;
}

.state-of-mi-2-background {
  background: url(../images/state-of-mi-responsive.jpg) no-repeat right 50px;
  background-size: 55%;
}

.state-of-mi-3-background {
  background: url(../images/iphonehandmockup_original.jpg) no-repeat right top;
  background-size: 55%;
}

.btn-primary {
  background-color: #000;
  color: #BF8F02;
}

.btn-primary:hover {
  background-color: #BF8F02;
  color: #000;
  border: 1px solid #ba8b02;
}

.next-link {
  color: #444;
  margin-top: 50px;
}

.next-link span {
  color: #BF8F02;
}

/*.next-link:hover {
  color: #444;
  text-decoration: none;
}

.next-link:hover span {
  color: #444;
  text-decoration: none;
  font-weight: bold;
}*/

.current-page {
  margin-top: 50px;
}

.btn-back {
  text-transform: uppercase;
  color: #C3C7D8;
  border: none;
  margin-top: 25px;
}

.btn-back:hover {
  color: #BF8F02;
}

/* -- Footer -- */

footer {
  color: #595959;
  font-size: 1.4em;
  background-color: #EDEDED;
  margin-top: 45px;
}

footer .row {
  background-color: #fff;
}

footer .nav {
  margin-top: 15px;
}

footer .nav>li>a {
  padding: 10px;
  color: #595959;
  font-weight: normal;
  border-radius: 0;
  border-top: 5px solid #fff;
}

footer .nav-pills>li>a:hover,
.nav-pills>li.active>a:hover {
  font-weight: bold;
  background-color: #fff;
  color: #595959;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
footer .nav>li>a:focus {
  background-color: transparent;
  border-color: #BF8F02;
  color: #595959;
}

footer h2 {
  text-align: center;
  font: normal 1.6em;
  padding: 45px 0;
  margin: 0;
}

footer h2>.btn-default {
  background-color: #404040;
  color: #BF8F02;
  margin-left: 2em;
}

footer h2>.btn-default:hover {
  background-color: #ccc;
  color: #BF8F02;
  border-color: #ccc;
}

.copyright {
  padding: 30px 0 10px 50px;
}

@media only screen and (max-width : 992px) {

  footer div[role="navigation"] {
    display: none;
  }

}

@media only screen and (max-width : 480px) {

  section {
    margin: 0;
  }

  .warmup-square,
  .splash-square {
    width: 100%;
  }

  .splash-content {
    margin: 0;
  }

  .portfolio .warmup-square {
    height: auto;
  }

  .about-us,
  .about-us-2,
  .state-of-mi-background,
  .state-of-mi-2-background,
  .state-of-mi-3-background,
  .contact-us {
    background: none;
  }

  .btn-default {
    width: 90%;
    margin: 20px 0;
  }

  .what-we-do {
    background: none;
  }

  .predictive-ux {
    width: 100%;
    height: auto;
  }

}

/*-- Show navbar collapsed by default --*/
@media (max-width: 8000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        /*float: none !important;*/
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
