html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #fff;
  font-family: "Segoe UI", Arial;
  height: 100%;
}

address {
  color: #BF8F02;
}

.col-no-gutter {
  padding-right: 0;
  padding-left: 0;
}

/* -- Main menu -- */
#main-menu-container {
  background: url(../images/what-we-do-background.jpg) no-repeat left #fff;
  background-position: -900px;
}

#main-menu {
  margin: 0 0 0 45%;
  background-color: #fff;
  height: 100%;
  min-height: 100%;
  padding-top: 80px;
}

#main-menu li {
  right: -1000px;
}

.navbar-nav>li.active>a {
  color: #BF8F02;
}

/* -- nav -- */
.navbar-brand {
  padding: 25px 50px 100px 50px;
}

.navbar-default {
  background-color: transparent;
  border: none;
  position: absolute;
  width: 100%;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-nav>li>a {
  color: #000;
  font-size: 3em;
  line-height: 1.5em;
}

.active,
.active>a,
.active>a:hover,
.active>a:focus,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus,
.navbar-nav>li>a:active {
  color: #BF8F02;
  background-color: transparent;
}

.navbar-header {
    float: none;
    background-color: transparent;
}
.navbar-toggle {
    display: block;
}

.navbar-collapse.collapse {
    display: none !important;
}
.navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* -- Splash -- */
.splash-content {
  padding: 175px 50px 50px 50px;
  font-size: 2.3em;
  line-height: 1.5em;
}

.splash-content h2 {
  font-size: .7em;
  margin-top: 50px;
}

/*.opacity-container {
  width: 50%;
  height: 278px;
  float: left;
  background-color: #666;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  font-size: 1.6em;
  text-align: right;
  background-color: rgba (0, 0, 0, .5);
}

.opacity-container:hover {
  cursor: pointer;
}

.opacity-content {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  filter: grayscale(100%);
  opacity: 1;
  transition: opacity .5s linear;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
}

.opacity-content:hover {
  opacity: 0 !important;
  text-decoration: none;
}

.opacity-container a.router-link {
  margin-right: 10px;
  color: #fff;
}*/

.splash-square {
  width: 50%;
  height: 278px;
  float: left;
  background-color: #666;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  font-size: 1.6em;
  overflow: hidden;
}

.splash-square-img {
  position: absolute;
  left: 0;
  top: 285px;
  /*
  opacity: 0;
  */
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  transition: all 1s ease;
}

.splash-square:hover .splash-square-img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

.splash-square-back {
  text-align: left;
  padding: 15% 25px;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0,0,0,0.4);
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s linear;
}

.splash-square a.router-link {
  margin-right: 10px;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.splash-square:hover .splash-square-back {
  opacity: 1;
}

.splash-square a.router-link {
  position: absolute;
  z-index: 3;
}
/*
.opacity-container:hover .splash-square-back,
.opacity-content:hover .splash-square-back {
  opacity: 1;
}

.measure-what-counts,
.measure-what-counts-container {
  background-image: url(../images/measure-what-counts.jpg);
}

.get-into-the-mud,
.get-into-the-mud-container {
  background-image: url(../images/get-into-the-mud.jpg);
}

.moons-and-marbles,
.moons-and-marbles-container {
  background-image: url(../images/moons-and-marbles.jpg);
}

.love-this-thing,
.love-this-thing-container {
  background-image: url(../images/NativeAmericansOnBeach_original.jpg);
}
*/
/* -- Interior pages -- */
.interior-heading {
  font-style: italic;
  font-weight: normal;
  font-size: 1.6em;
  margin-bottom: 35px;
}

.xl-text {
  font-size: 2.8em;
  margin: 25px 0;
}

.lg-text {
  font-size: 2em;
  margin: 25px 0;
}

.md-text {
  font-size: 1.5em;
  margin: 25px 0;
}

.col-content {
  background-color: #fff;
}

.col-logo,
.col-nologo {
  padding: 150px 50px 50px 50px;
}

.col-nologo {
  padding-top: 0;
  top: 50px;
}

.col-lg-padding {
  padding: 200px 50px 50px 50px;
}

.col-md-padding {
  padding: 150px 50px 50px 50px;
}

.col-sm-padding {
  padding: 10% 50px 50px 50px;
}

.warm-up-container {
  filter: grayscale(100%);
  opacity: 1;
  transition: opacity .5s linear;
}

.warm-up-trigger:hover {
  opacity: 0;
}

.portfolio-container {
  clear: both;
}

.portfolio-image {
  border: 1px solid #666;
  -webkit-box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.36);
  -moz-box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.36);
  box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.36);
  float: left;
  margin: 0 25px 25px 0;
}

.portfolio-link {
  display: block;
  width: 340px;
  height: 241px;
  border: 1px solid #666;
  -webkit-box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.36);
  -moz-box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.36);
  box-shadow: 5px 5px 11px -4px rgba(0,0,0,0.36);
  float: left;
  margin: 0 25px 25px 0;
}

.portfolio-container h3 {
  padding-top: 50px;
  font-style: normal;
  color: #333;
}

.portfolio-container p {
  font-size: 1.5em;
  font-style: italic;
  color: #666;
}

.mi-portfolio-container,
.mi-portfolio-content {
  background: url(../images/state-of-mi.jpg) no-repeat;
  background-size:  340px 241px;
  min-height: 241px;
}

.state-of-mi-container {
  background: url(../images/state-of-mi.jpg) no-repeat;
  background-size: cover;
  width: 340px;
  height: 241px;
}

.love-this-thing-content {
  background: url(../images/love-this-thing-page.png) no-repeat;
  min-height: 750px;
}

.state-of-mi-content {
  background: url(../images/our-work-state-of-mi.jpg) no-repeat;
  min-height: 750px;
}

.what-we-do {
  background: url(../images/what-we-do-background.jpg) no-repeat right top;
  background-size: 55%;
}

.about-us {
  background: url(../images/lute.jpg) no-repeat right top;
}

.about-us-2 {
  background: url(../images/constellation-bw.jpg) no-repeat right top;
}

.contact-us {
  background: url(../images/contact-us-background.jpg) no-repeat right top;
  background-size: 55%;
}

.headlines-background {
  background: url(../images/headlines-background.jpg) no-repeat right top;
  background-size: 55%;
}

.state-of-mi-background {
  background: url(../images/Realistic-Retina-Macbook-Pro-Mockup.jpg) no-repeat right top;
  background-size: 55%;
}

.state-of-mi-2-background {
  background: url(../images/state-of-mi-responsive.jpg) no-repeat right 50px;
  background-size: 55%;
}

.state-of-mi-3-background {
  background: url(../images/iphonehandmockup_original.jpg) no-repeat right top;
  background-size: 55%;
}

.btn-primary {
  background-color: #000;
  color: #BF8F02;
}

.btn-primary:hover {
  background-color: #BF8F02;
  color: #000;
  border: 1px solid #ba8b02;
}

/*.old-detroit-background {
  background: url(../images/old-detroit-background.jpg) no-repeat;
  background-size: cover;
  min-height: 610px;
}*/

figcaption {
  font-size: 1.5em;
  font-style: italic;
  padding-top: 25px;
  color: #666;
}

figcaption h3 {
  font-style: normal;
  color: #333;
}

.fig-link:hover,
.fig-link:hover figcaption,
.fig-link:hover figcaption h3 {
  color: #000;
  text-decoration: none;
}

.next-link {
  color: #444;
  margin-top: 50px;
}

.next-link span {
  color: #BF8F02;
}

.next-link:hover {
  color: #444;
  text-decoration: none;
}

.next-link:hover span {
  color: #444;
  text-decoration: none;
  font-weight: bold;
}

.current-page {
  margin-top: 50px;
}

.btn-back {
  text-transform: uppercase;
  color: #C3C7D8;
  border: none;
  margin-top: 25px;
}

.btn-back:hover {
  color: #BF8F02;
}

.gallery {
  text-align: right;
}

.gallery img {
  margin: 20px;
  border: 1px solid #000;
}


/* -- Footer -- */

footer {
  color: #595959;
  font-size: 1.4em;
  background-color: #EDEDED;
}

footer .row {
  background-color: #fff;
}

footer .nav>li>a {
  padding: 10px;
  color: #595959;
  font-weight: normal;
  border-top: 5px solid #fff;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover,
footer .nav>li>a:focus,
footer .nav>li>a:hover {
  background-color: transparent;
  border-color: #BF8F02;
  color: #595959;
}

footer .nav-pills>li>a {
  border-radius: 0;
}

footer h2 {
  text-align: center;
  font: normal 1.6em;
  padding: 45px 0;
  margin: 0;
}

footer h2>.btn-default {
  background-color: #404040;
  color: #BF8F02;
  margin-left: 2em;
}

footer h2>.btn-default:hover {
  background-color: #ccc;
  color: #BF8F02;
  border-color: #ccc;
}
